html {
  font-family: system-ui;
  background-color: #000;
  color: #fff;
}

body {
  margin: 0;
}

.App {
  max-width: 1040px;
  margin: auto;
  padding: 1rem;
}

a {
  color: lightblue;
}
